/* https://www.color-hex.com/color-palette/700 */

@mixin status($colour) {
  background-color: $colour;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: .25rem .5rem;
  margin: auto;
  text-align: center;
  width: 85px;
}

.status-1 {
  @include status(#00aedb);
}

.status-2 {
  @include status(#d11141);
}

.status-3 {
  @include status(#ffc425);
}

.status-4 {
  @include status(#00b159);
}
