/* https://www.color-hex.com/color-palette/700 */

@mixin status($colour) {
  background-color: $colour;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: .25rem .5rem;
  margin: auto;
  text-align: center;
  width: 90px;
}

.status-1 {
  @include status(#00aedb);
}

.status-2 {
  @include status(#d11141);
}

.status-3 {
  @include status(#ffc425);
}

.status-4 {
  @include status(#00b159);
}

.status-5 {
  @include status(#5C5D57);
}

.status-6 {
  @include status(#5C5D57);
}

.status-7 {
  @include status(#00aedb);
}

.status-8 {
  @include status(#6AB43F);
}

.status-9 {
  @include status(#4C0000);
}

.status-10 {
  @include status(#AE5D5D);
}

.status-11 {
  @include status(#5C5D57);
}

.status-12 {
  @include status(#00aedb)
}

.status-13 {
  @include status(#6AB43F);
}
