@use '../../style.scss';

.r-dropdown {
  // remove default arrow
  //-webkit-appearance: none;
  cursor: pointer;
  padding: 0.25rem;
  transition: style.$standard-transition;
  border-color: style.$colour-border;
  background: transparent;
  border-width: thin;
  border-style: solid;
  border-radius: 4px;

  &:hover {
    border-color: style.$colour-accent;
  }

  &:focus {
    border-color: style.$colour-accent;
    border-width: 2px;
    margin: -2px;
  }

  & option {
    background-color: style.$colour-accent;
  }

  &.disabled {
    //background-color: color.adjust($colour, $lightness: -15%);
    cursor: not-allowed;
  }
}
