@use '../../style.scss';

.r-dropdown {
  cursor: pointer;
  padding: 0.25rem;
  outline-color: style.$colour-accent;
  //border-color:

  &.disabled {
    //background-color: color.adjust($colour, $lightness: -15%);
    cursor: not-allowed;
  }
}
