@use '../../style.scss';

select.r-dropdown {
  cursor: pointer;
  padding: 0.25rem;
  //outline-color: style.$colour-accent;
  background: style.$colour-primary;
  color: style.$colour-primary-text;

  //border-color:

  & option {
    background: style.$colour-accent
  }

  &.disabled {
    //background-color: color.adjust($colour, $lightness: -15%);
    cursor: not-allowed;
  }
}
