@use '../../style.scss';

.r-table-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  // margin-bottom: 12px;
  min-height: 28px;
  max-height: fit-content;
  background: style.$colour-secondary-background;
}

.r-table-fill {
  height: 12px;
  width: 100%;
  background: linear-gradient(
    180deg, 
    style.$colour-secondary-background 0%, 
    darken(style.$colour-secondary-background, 7%) 50%, 
    style.$colour-secondary-background 100%
  );
}

.r-table-content {
  text-align: center;
}

.r-table-header {
  border-radius: style.$edge-primary style.$edge-primary 0 0;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 15px;
  background: linear-gradient(
    180deg, 
    style.$colour-secondary-background 0%, 
    style.$colour-secondary-background 85%,
    darken(style.$colour-secondary-background, 45%) 90%, 
    style.$colour-secondary-background 95%,
  );
}

.r-table-top {
  padding: 15px;
}

.r-table {
  & .r-table-header {
    background: style.$colour-secondary-background;
  }

  & .r-table-row {
    padding-bottom: 8px;
    padding-top: 8px;
  }
}
