@use '../../style.scss';
@use 'sass:color';

@mixin button($colour, $text) {
  font-family: style.$font-families;
  background-color: $colour;
  transition: style.$standard-transition;
  color: $text;
  font-size: inherit;
  text-align: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 7px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: color.adjust($colour, $lightness: 15%);
  }

  :not(:last-child) {
    margin-right: 5px;
  }

  &[disabled] {
    background-color: color.adjust($colour, $lightness: -15%);
    cursor: not-allowed;
  }
}

.r-button-primary {
  @include button(style.$colour-primary, style.$colour-primary-text);
}

.r-button-secondary {
  @include button(style.$colour-secondary, style.$colour-primary-text);
}

.r-button-tertiary {
  @include button(style.$colour-tertiary, style.$colour-primary-text);
}

.r-button-success {
  @include button(style.$colour-success, style.$colour-primary-text);
}
