$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';

// -- custom font setup --
@font-face {
  font-family: "JetBrains Mono";
  font-weight: normal;
  font-style: normal;
  src: url('/src/renderer/Style/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2');
}

$font-families: Verdana, sans-serif;
$font-families-monospace: 'JetBrains Mono', monospace;

$colour-primary: #7796CB;
$colour-secondary: #A88FAC;
$colour-tertiary: #BC3908;

$colour-background: rgb(44, 41, 47);
$colour-primary-background: rgb(23, 20, 26);
$colour-secondary-background: #FFFFFF;

$colour-primary-text: white;
$colour-secondary-text: grey;

$colour-success: #5A7D7C;
$colour-border: grey;

$standard-transition: 0.4s;

$edge-primary: 15px;

html {
  overflow-x: hidden;
}

:root {
  font-family: $font-families;
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  background-color: $colour-primary-background;
}

body {
  margin: 0;
}

.r-content-window {
  width: calc(100vw - (5px + 5px));
  height: calc(100vh - (46.5px + 30px));
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: $colour-background;
  border-radius: $edge-primary;
  margin-right: 5px;
  margin-left: 5px;
}

.r-content-window-inner {
  overflow-y: auto;
  overflow-x: auto;
  height: inherit;
  width: inherit;
}

.r-completed > td {
  //text-decoration: line-through 5px;
}

.r-form {
  display: flex;
  flex-wrap: wrap;

  & > * {
    padding: 0.1rem;
  }
}

.r-field {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  & > label {
    color: $colour-secondary-text;
    padding: 0.20rem;
    align-items: center;
  }

  &.r-col-3 {
    width: 25%;
  }
  &.r-col-6 {
    width: 40%;
  }
  &.r-col-12 {
    width: 100%;
  }
}
